<% rel = current_page.data.relative %>

<div class="footer" >
    <hr>
    <div class="container">
        <div id="footContent">
            <div id="footerBar">
                Copyright &copy; 2018
                <a href="https://www.e-sainc.com/" target="_parent">eSolution Architects</a>.
                All rights reserved.<br/>
            </div>
            <div id="footerNav">
                <a class="footerNavItem" href="<%= rel %>/">Home</a>
                <a class="footerNavItem" href="<%= rel %>/Features">Features</a>
                <a class="footerNavItem" href="<%= rel %>/About">About</a>
                <a class="footerNavItem" href="<%= rel %>/FAQ" target="_blank">FAQ</a>
                <a class="footerNavItem" href="<%= rel %>/Contact">Contact Us</a>
            </div>
        </div>
    </div>
</div>
